In [5]:
number = 5 + 12.5
type(number)

float

In [6]:
number = 5 + True
print(type(number))
print(number)

<class 'int'>
6

In [9]:
number = 12.5 + False
print(type(number))
print(number)

<class 'float'>
12.5

In [11]:
number = True + False
print(type(number))
print(number)

<class 'int'>
1

Check if a given string is fully capitalized or not

CODE --> True
code --> False
CodE --> False

In [20]:
my_string=input()
tmp = my_string.upper()
print(tmp == my_string)

DDD DDD
True

In [19]:
my_string.isupper()

True

Find the middle item in a given list. 
If list contains even number of items, 
any of the middle two items are accepted. 

Example List [11,35,43,25,54,23,57]

In [25]:
mylist = [11,35,43,25,54,23,57]
length = len(mylist)
length /= 2
length = int(length)
print(mylist[length])

25

In [29]:
number = 5
number2 = 10
print(id(number))
print(id(number2-5))
print(id(5))

140737236738576
140737236738576
140737236738576

In [42]:
example_tuple = (1,2,3,4,[5])
print(example_tuple)
print(id(example_tuple))
print(id(example_tuple[4]))
print(id(example_tuple[4][0])) # Same with the earlier code block

example_tuple[4].append(6)
print(example_tuple)
print(id(example_tuple))
print(id(example_tuple[4]))

(1, 2, 3, 4, [5])
2160523758568
2160523943688
140737236738576
(1, 2, 3, 4, [5, 6])
2160523758568
2160523943688

In [72]:
my_set = set()
my_set2 = {1}
my_set3 = set("hello")
my_set3

{'e', 'h', 'l', 'o'}

In [68]:
my_set = {1,2,3,4,5}
my_set2 = {3.0,"Hello",(1,2,3.0)}
print(type(my_set))
print(type(my_set2))

<class 'set'>
<class 'set'>

In [76]:
my_set = set('hello')
print(my_set)
print(type(my_set))

{'l', 'e', 'o', 'h'}
<class 'set'>

In [64]:
print('l' in my_set)

True

In [2]:
my_set = set('hello')
print(my_set)
print(len(my_set))

{'h', 'o', 'e', 'l'}
4

In [98]:
my_set.add("welcome")
print(my_set)

my_set.update("welcome")
print(my_set)

{'o', 'e', 'l', 'welcome', 'h'}
{'o', 'w', 'e', 'm', 'c', 'l', 'welcome', 'h'}

In [101]:
print(len(my_set))

8

In [95]:
my_set.discard("welcome")
print(my_set)

my_set.remove("w")
print(my_set)

my_set.pop()
print(my_set)

my_set.clear()
print(my_set)

{'o', 'w', 'e', 'm', 'c', 'l', 'h'}
{'o', 'e', 'm', 'c', 'l', 'h'}
{'e', 'm', 'c', 'l', 'h'}
set()

In [1]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}

print(A | B)
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [104]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}

print(A & B)
print(A.intersection(B))
print(B.intersection(A))

{3, 4, 5}
{3, 4, 5}
{3, 4, 5}

In [106]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}

print(A - B)
print(A.difference(B))
print(B - A)
print(B.difference(A))

{1, 2}
{1, 2}
{6, 7}
{6, 7}

In [108]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}

print(A ^ B)
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{1, 2, 6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}